version: "3.8"

services:
  openhab:
    image: "openhab/openhab:4.2.0"
    container_name: openhab
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "8443:8443"
    volumes:
      - ./openhab/conf:/openhab/conf
      - ./openhab/userdata:/openhab/userdata
      - ./openhab/addons:/openhab/addons
    environment:
      - OPENHAB_HTTP_PORT=8080
      - OPENHAB_HTTPS_PORT=8443
      - USER_ID=9001
      - GROUP_ID=9001
      - EXTRA_JAVA_OPTS=-Duser.timezone=Europe/Kyiv
    depends_on:
      - mqtt
      - zigbee-sim

  mqtt:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log

  zigbee-sim:
    image: python:3.12-slim
    container_name: zigbee-sim
    restart: unless-stopped
    working_dir: /app
    command: sh -c "pip install flask && python server.py"
    volumes:
      - ./zigbee-sim:/app
    ports:
      - "5001:5000"

  mqtt-sensors:
    image: python:3.12-slim
    container_name: mqtt-sensors
    restart: unless-stopped
    working_dir: /app
    command: sh -c "pip install paho-mqtt && python mqtt_sensors.py"
    volumes:
      - ./scripts:/app
    depends_on:
      - mqtt

